In [1]:
import sys

import requests
import json
from pycoingecko import CoinGeckoAPI

import pandas as pd
from pprint import pprint

import seaborn as sns
sns.set_theme(style="whitegrid")

sys.path.append("../..")

In [4]:
collection_slug = "chibidinos"
url = f"https://api.opensea.io/api/v1/collection/{collection_slug}"

response = requests.get(url, headers={"Accept": "application/json"})
json_response = json.loads(response.text)

In [5]:
cg = CoinGeckoAPI()
eth_price = float(cg.get_price(ids="ethereum", vs_currencies="usd")["ethereum"]["usd"])

In [6]:
stats = json_response["collection"]["stats"]
pprint(stats)

{'average_price': 0.13089395537572857,
 'count': 10000.0,
 'floor_price': 0.099,
 'market_cap': 1339.6161971830986,
 'num_owners': 3200,
 'num_reports': 5,
 'one_day_average_price': 0.13049999999999998,
 'one_day_change': -0.626476443686832,
 'one_day_sales': 18.0,
 'one_day_volume': 2.3489999999999998,
 'seven_day_average_price': 0.13396161971830986,
 'seven_day_change': 1.7299863002335532,
 'seven_day_sales': 142.0,
 'seven_day_volume': 19.02255,
 'thirty_day_average_price': 0.1242395179138321,
 'thirty_day_change': 0.2253279230055001,
 'thirty_day_sales': 441.0,
 'thirty_day_volume': 54.78962739999996,
 'total_sales': 15451.0,
 'total_supply': 10000.0,
 'total_volume': 2022.442504510382}

In [7]:
df_seven_day_metrics = pd.DataFrame(columns=["Seven Day Metrics", "Value"])
df_seven_day_metrics["Seven Day Metrics"] = ["Volume", "Change", "Average Price", "Sales"]
df_seven_day_metrics["Value"] = [
    f'Ξ{stats["seven_day_volume"]:.1f} (${eth_price * stats["seven_day_volume"]:.0f})', 
    f'Ξ{stats["seven_day_change"]:.2f} (${eth_price * stats["seven_day_change"]:.0f})', 
    f'Ξ{stats["seven_day_average_price"]:.2f} (${eth_price * stats["seven_day_average_price"]:.0f})',
    f'{int(stats["seven_day_sales"])}', 

]
df_seven_day_metrics

  Seven Day Metrics           Value
0            Volume  Ξ19.0 ($56442)
1            Change   Ξ1.73 ($5133)
2     Average Price    Ξ0.13 ($397)
3             Sales             142

In [8]:
df_thirty_day_metrics = pd.DataFrame(columns=["Thirty Day Metrics", "Value"])
df_thirty_day_metrics["Thirty Day Metrics"] = ["Volume", "Change", "Average Price", "Sales"]
df_thirty_day_metrics["Value"] = [
    f'Ξ{stats["thirty_day_volume"]:.1f} (${eth_price * stats["thirty_day_volume"]:,.0f})', 
    f'Ξ{stats["thirty_day_change"]:.2f} (${eth_price * stats["thirty_day_change"]:,.0f})', 
    f'Ξ{stats["thirty_day_average_price"]:.2f} (${eth_price * stats["thirty_day_average_price"]:,.0f})',
    f'{int(stats["thirty_day_sales"]):,}', 

]
df_thirty_day_metrics

  Thirty Day Metrics             Value
0             Volume  Ξ54.8 ($162,566)
1             Change      Ξ0.23 ($669)
2      Average Price      Ξ0.12 ($369)
3              Sales               441

In [9]:
df_overall_metrics = pd.DataFrame(columns=["Overall Metrics", "Value"])
df_overall_metrics["Overall Metrics"] = ["Market Cap", "Total Volume", "Floor Price", "Average Price", "Total Sales", "Hodlers"]
df_overall_metrics["Value"] = [
    f'Ξ{stats["market_cap"]:.1f} (${eth_price * stats["market_cap"]:,.0f})', 
    f'Ξ{stats["total_volume"]:.1f} (${eth_price * stats["total_volume"]:,.0f})', 
    f'Ξ{stats["floor_price"]:.2f} (${eth_price * stats["floor_price"]:,.0f})', 
    f'Ξ{stats["average_price"]:.2f} (${eth_price * stats["average_price"]:,.0f})', 
    f'{int(stats["total_sales"]):,}',
    f'{int(stats["num_owners"]):,}',
]
df_overall_metrics

  Overall Metrics                 Value
0      Market Cap  Ξ1339.6 ($3,974,762)
1    Total Volume  Ξ2022.4 ($6,000,769)
2     Floor Price          Ξ0.10 ($294)
3   Average Price          Ξ0.13 ($388)
4     Total Sales                15,451
5         Hodlers                 3,200

In [11]:
page_title_text='Chibi Dinos Report'
title_text = 'Chibi Dinos Report'
stats_text = 'Important stats'
table_settings = dict(header=False, index=False, classes="mystyle", col_space=5)

html = f'''
<html>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <head>
        <title>{page_title_text}</title>
    </head>
    <link rel="stylesheet" type="text/css" href="df_style.css"/>
    <body>
        <h1>{title_text}</h1>
        <p>{details["collection"]["description"]}</p>
        <img src="chibi_dinos.jpeg" width="200">
        <h2>Seven Day Stats</h2>
        {df_seven_day_metrics.to_html(**table_settings)}
        <h2>Thirty Day Stats</h2>
        {df_thirty_day_metrics.to_html(**table_settings)}
        <h2>Overall Stats</h2>
        {df_overall_metrics.to_html(**table_settings)}
    </body>
</html>
'''

with open('chibi_report.html', 'w') as f:
    f.write(html)